# Don’t commit the following directories created by pub.
build/
doc/api/
test_package/doc
packages
.buildlog
.pub
.idea
.packages
.settings/
.DS_Store

pub.dartlang.org/

# Or the files created by dart2js.
*.dart.js
*.js.deps
*.js.map
