.buildlog
.DS_Store
.atom/
.dart_tool/
.idea/
.packages
.pub
.settings/
build/
doc/
lcov.info
packages
pub.dartlang.org/
testing/test_package/doc
testing/test_package_small/doc
pubspec.lock

*.dart.js
*.iml
*.ipr
*.iws
*.js.deps
*.js.map
