language: dart
sudo: false
dart:
  - "dev/raw/latest"
env:
  - DARTDOC_BOT=main
  - DARTDOC_BOT=packages
  - DARTDOC_BOT=flutter
  - DARTDOC_BOT=sdk-docs
script: ./tool/travis.sh

os:
  - osx
  - linux

branches:
  only: [master]
cache:
  directories:
  - $HOME/.pub-cache
  - $HOME/.dartdoc_grinder
