language: dart
sudo: false
dart:
  - dev
  - stable
env:
  - GEN_SDK_DOCS=true
  - GEN_SDK_DOCS=false
script: ./tool/travis.sh
branches:
  only:
    - master
cache:
  directories:
  - $HOME/.pub-cache
