language: dart
sudo: false
dart:
  - dev
env:
  - DARTDOC_BOT=main
  # TODO(devoncarew): add angulardart support
  #- DARTDOC_BOT=angular
  - DARTDOC_BOT=flutter
  - DARTDOC_BOT=sdk-docs
script: ./tool/travis.sh
branches:
  only:
    - master
cache:
  directories:
  - $HOME/.pub-cache
