name: dartdoc
version: 0.0.2+2
author: Dart Team <misc@dartlang.org>
description: A documentation generator for Dart.
homepage: https://github.com/dart-lang/dartdoc
environment:
  sdk: '>=1.9.0 <2.0.0'
dependencies:
  analyzer: '>=0.22.0 <0.26.0'
  args: ^0.13.0
  cli_util: ^0.0.1
  html: ^0.12.1
  http: '>=0.11.0'
  intl: '>=0.11.0'
  logging: '>=0.9.0 <0.12.0'
  markdown: ^0.7.1
  mustache4dart: ^1.0.9
  path: ^1.3.0
  pub_cache: ^0.0.1+2
  quiver: '>=0.18.0 <0.22.0'
  yaml: ^2.1.0
dev_dependencies:
  den_api: ^0.1.0
  grinder: ^0.7.1
  librato: any
  pub_semver: ^1.0.0
  test: ^0.12.0
executables:
  dartdoc: null
