name: dartdoc
version: 7.0.0-wip
description: A non-interactive HTML documentation generator for Dart source code.
repository: https://github.com/dart-lang/dartdoc

environment:
  sdk: ^3.0.0

dependencies:
  analyzer: ^6.2.0
  args: ^2.4.1
  cli_util: ^0.4.0
  collection: ^1.17.0
  crypto: ^3.0.3
  glob: ^2.1.1
  html: ^0.15.3
  logging: ^1.1.1
  markdown: ^7.1.0
  meta: ^1.9.1
  package_config: ^2.1.0
  path: ^1.8.3
  pub_semver: ^2.1.4
  source_span: ^1.10.0
  yaml: ^3.1.2

dev_dependencies:
  async: ^2.11.0
  dart_style: ^2.3.1
  http: ">=0.13.6 <2.0.0"
  js: ^0.6.7
  lints: ^2.1.0
  matcher: ^0.12.15
  test: ^1.24.2
  test_descriptor: ^2.0.1
  test_process: ^2.0.3
  test_reflective_loader: ^0.2.2

executables:
  dartdoc: null
