name: dartdoc
version: 0.0.1
author: Dart Team <misc@dartlang.org>
description: A documentation generator for Dart.
homepage: https://github.com/dart-lang/dartdoc
dependencies:
  analyzer: '>=0.22.0 <0.25.0'
  args: '>=0.12.2 <0.13.0'
  cli_util: '>=0.0.1 <0.1.0'
  html: '>=0.12.1 <0.13.0'
  intl: '>=0.12.0 <0.13.0'
  logging: '>=0.9.0 <0.10.0'
  markdown: '>=0.7.1 <0.8.0'
  mustache4dart: '>=1.0.9 <1.1.0'
  path: '>=1.3.0 <1.4.0'
  quiver: '>=0.18.0 <0.22.0'
  yaml: '>=2.1.0 <2.2.0'
dev_dependencies:
  grinder: '>=0.6.0 <0.7.0'
  http: '>=0.11.0 <0.12.0'
  unittest: '>=0.11.0 <0.12.0'
executables:
  dartdoc: null
dependency_overrides:
  analyzer: 0.25.0-dev.1
