name: dartdoc
# Also update the `version` field in lib/dartdoc.dart.
version: 0.9.13
author: Dart Team <misc@dartlang.org>
description: A documentation generator for Dart.
homepage: https://github.com/dart-lang/dartdoc
environment:
  sdk: '>=1.14.0 <2.0.0'
dependencies:
  analyzer: ^0.29.8
  args: ^0.13.0
  collection: ^1.2.0
  html: '>=0.12.1 <0.14.0'
  # We don't use http_parser directly; this dep exists to ensure that we get at
  # least version 3.0.3 to work around an issue with 3.0.2.
  http_parser: '>=3.0.3 <4.0.0'
  logging: '>=0.9.0 <0.12.0'
  markdown: ^0.11.2
  mustache4dart: ^1.0.9
  package_config: '>=0.1.5 <2.0.0'
  path: ^1.3.0
  resource: ^1.1.0
  stack_trace: ^1.4.2
  tuple: ^1.0.1
  yaml: ^2.1.0
dev_dependencies:
  grinder: ^0.8.0
  http: ^0.11.0
  meta: ^1.0.0
  pub_semver: ^1.0.0
  test: ^0.12.0
executables:
  dartdoc: null
