name: dartdoc
# Also update the `version` field in lib/dartdoc.dart.
version: 0.22.0
author: Dart Team <misc@dartlang.org>
description: A documentation generator for Dart.
homepage: https://github.com/dart-lang/dartdoc
environment:
  sdk: '>=2.0.0 <3.0.0'

dependencies:
  analyzer: ^0.33.0
  args: '>=1.4.1 <2.0.0'
  collection: ^1.2.0
  html: '>=0.12.1 <0.14.0'
  # We don't use http_parser directly; this dep exists to ensure that we get at
  # least version 3.0.3 to work around an issue with 3.0.2.
  http_parser: '>=3.0.3 <4.0.0'
  logging: ^0.11.3+1
  process: ^3.0.5
  markdown: ^2.0.0
  # TODO(jcollins-g): use dependency when mustache4dart is
  # supported on 2.0.
  #mustache4dart: ^2.1.2
  package_config: '>=0.1.5 <2.0.0'
  path: ^1.3.0
  pub_semver: ^1.3.7
  quiver: ^2.0.0
  resource: ^2.1.2
  stack_trace: ^1.4.2
  yaml: ^2.1.0

dev_dependencies:
  build: ^0.12.6
  build_runner: ^0.9.0
  build_version: ^1.0.0
  dhttpd: ^3.0.0
  glob: ^1.1.5
  grinder: ^0.8.2
  io: ^0.3.0
  http: ^0.11.0
  meta: ^1.0.0
  test: ^1.3.0

dependency_overrides:
  analyzer: 0.33.0

executables:
  dartdoc: null
