name: dartdoc
# Run `grind build` after updating.
version: 3.1.0
description: A non-interactive HTML documentation generator for Dart source code.
homepage: https://github.com/dart-lang/dartdoc
environment:
  sdk: '>=2.11.99 <3.0.0'

dependencies:
  analyzer: ^2.3.0
  args: ^2.3.0
  charcode: ^1.3.1
  collection: ^1.15.0
  cli_util: ^0.3.3
  crypto: ^3.0.1
  glob: ^2.0.1
  html: ^0.15.0
  logging: ^1.0.2
  markdown: ^4.0.0
  meta: ^1.7.0
  package_config: ^2.0.2
  path: ^1.8.0
  pub_semver: ^2.1.0
  source_span: ^1.8.1
  yaml: ^3.1.0

dev_dependencies:
  async: ^2.8.2
  build: ^2.1.0
  build_runner: ^2.1.2
  build_test: ^2.1.3
  build_version: ^2.1.0
  code_builder: ^4.1.0
  coverage: ^1.0.3
  dart_style: ^2.1.0
  grinder: ^0.9.0
  http: ^0.13.3
  pedantic: ^1.11.1
  test: ^1.17.12

executables:
  dartdoc: null
