name: dartdoc
# Also update the `version` field in lib/dartdoc.dart.
version: 0.17.1
author: Dart Team <misc@dartlang.org>
description: A documentation generator for Dart.
homepage: https://github.com/dart-lang/dartdoc
# For development, recommend 1.25.0-dev.0.0 or higher to allow
# dartanalyzer to work on dartdoc itself.
environment:
  sdk: '>=1.23.0-dev.11.5 <2.0.0'
dependencies:
  analyzer: '0.31.2-alpha.0'
  args: '>=0.13.0 <2.0.0'
  collection: ^1.2.0
  front_end: ^0.1.0-alpha.10
  html: '>=0.12.1 <0.14.0'
  # We don't use http_parser directly; this dep exists to ensure that we get at
  # least version 3.0.3 to work around an issue with 3.0.2.
  http_parser: '>=3.0.3 <4.0.0'
  logging: ^0.11.3+1
  markdown: ^1.0.0
  mustache4dart: ^2.1.0
  package_config: '>=0.1.5 <2.0.0'
  path: ^1.3.0
  quiver: ^0.27.0
  resource: '>=1.1.0 <3.0.0'
  stack_trace: ^1.4.2
  tuple: ^1.0.1
  yaml: ^2.1.0
dev_dependencies:
  dhttpd: ^2.0.0
  grinder: ^0.8.1
  http: ^0.11.0
  meta: ^1.0.0
  pub_semver: ^1.0.0
  test: '^0.12.24'
executables:
  dartdoc: null
