name: dartdoc
# Run `dart run grinder build` after updating.
version: 5.1.0
description: A non-interactive HTML documentation generator for Dart source code.
repository: https://github.com/dart-lang/dartdoc

environment:
  sdk: '>=2.14.0 <3.0.0'

dependencies:
  analyzer: ^4.1.0
  args: ^2.3.0
  charcode: ^1.3.1
  cli_util: ^0.3.5
  collection: ^1.15.0
  crypto: ^3.0.1
  glob: ^2.0.1
  html: ^0.15.0
  logging: ^1.0.2
  markdown: ">=4.0.0 <6.0.0"
  meta: ^1.7.0
  package_config: ^2.0.2
  path: ^1.8.0
  pub_semver: ^2.1.0
  source_span: ^1.8.1
  yaml: ^3.1.0

dev_dependencies:
  async: ^2.8.2
  build: ^2.1.0
  build_runner: ^2.1.2
  build_test: ^2.1.3
  build_version: ^2.1.0
  code_builder: ^4.1.0
  coverage: ^1.0.3
  dart_style: ^2.2.0
  grinder: ^0.9.0
  http: ^0.13.3
  lints: ^1.0.1
  test: ^1.19.0
  test_descriptor: ^2.0.0
  test_process: ^2.0.2

executables:
  dartdoc: null
