name: dartdoc
# Also update the `version` field in lib/dartdoc.dart.
version: 0.9.7+3
author: Dart Team <misc@dartlang.org>
description: A documentation generator for Dart.
homepage: https://github.com/dart-lang/dartdoc
environment:
  sdk: '>=1.14.0 <2.0.0'
dependencies:
  analyzer: ^0.28.1
  args: ^0.13.0
  cli_util: ^0.0.1
  collection: ^1.2.0
  html: ^0.12.1
  logging: '>=0.9.0 <0.12.0'
  markdown: ^0.10.1
  mustache4dart: ^1.0.9
  package_config: '>=0.1.5 <2.0.0'
  path: ^1.3.0
  quiver: '>=0.18.0 <0.23.0'
  resource: ^1.1.0
  stack_trace: ^1.4.2
  yaml: ^2.1.0
dev_dependencies:
  grinder: ^0.8.0
  http: ^0.11.0
  pub_semver: ^1.0.0
  test: ^0.12.0
  which: ^0.1.3
executables:
  dartdoc: null
