name: dartdoc
# Also update the `version` field in lib/dartdoc.dart.
version: 0.3.0
author: Dart Team <misc@dartlang.org>
description: A documentation generator for Dart.
homepage: https://github.com/dart-lang/dartdoc
environment:
  sdk: '>=1.9.0 <2.0.0' # when we go to 1.12, bump analyzer version
dependencies:
  analyzer: '0.25.0' # > 0.25 has new APIs, but only works in 1.12
  args: ^0.13.0
  cli_util: ^0.0.1
  html: ^0.12.1
  http: ^0.11.0
  logging: '>=0.9.0 <0.12.0'
  markdown: ^0.7.1
  mustache4dart: ^1.0.9
  path: ^1.3.0
  pub_cache: ^0.1.0
  quiver: '>=0.18.0 <0.22.0'
  yaml: ^2.1.0
dev_dependencies:
  den_api: ^0.1.0
  grinder: ^0.7.2
  librato: any
  pub_semver: ^1.0.0
  test: ^0.12.0
executables:
  dartdoc: null
