{{>head}}

  <div id="dartdoc-sidebar-left" class="col-xs-6 col-sm-3 col-md-2 sidebar sidebar-offcanvas-left">
    {{>search_sidebar}}
    <h5>{{parent.name}} {{parent.kind}}</h5>
    {{>sidebar_for_class}}
  </div><!--/.sidebar-offcanvas-left-->

  <div id="dartdoc-main-content" class="col-xs-12 col-sm-9 col-md-8 main-content">
    {{#self}}
      <div>{{>source_link}}<h1><span class="kind-constructor">{{{nameWithGenerics}}}</span> {{kind}}</h1></div>
    {{/self}}

    {{#constructor}}
    <section class="multi-line-signature">
      {{#hasAnnotations}}
      <div>
        <ol class="annotation-list">
          {{#annotations}}
          <li>{{{.}}}</li>
          {{/annotations}}
        </ol>
      </div>
      {{/hasAnnotations}}
      {{#isConst}}const{{/isConst}}
      <span class="name {{#isDeprecated}}deprecated{{/isDeprecated}}">{{{nameWithGenerics}}}</span>(<wbr>{{#hasParameters}}{{{linkedParamsLines}}}{{/hasParameters}})
    </section>

    {{>documentation}}

    {{>source_code}}

    {{/constructor}}
  </div> <!-- /.main-content -->

  <div id="dartdoc-sidebar-right" class="col-xs-6 col-sm-6 col-md-2 sidebar sidebar-offcanvas-right">
  </div><!--/.sidebar-offcanvas-->

{{>footer}}
