{{>head}}

  <div>
    <h5>{{self.name}} {{self.kind}}</h5>
  </div>

  <div>
    {{#packageGraph.defaultPackage}}
      {{>documentation}}
    {{/packageGraph.defaultPackage}}

    {{#packageGraph}}
      {{#localPackages}}
        <section>
          {{#isFirstPackage}}
            <h2>Libraries</h2>
          {{/isFirstPackage}}
          {{^isFirstPackage}}
            <h2>{{name}}</h2>
          {{/isFirstPackage}}
          <dl>
          {{#defaultCategory.publicLibraries}}
            {{{ oneLineDoc }}} {{{ extendedDocLink }}}
          {{/defaultCategory.publicLibraries}}
          {{#categoriesWithPublicLibraries}}
            <h3>{{name}}</h3>
            {{#publicLibraries}}
              <dt>
                {{{ linkedName }}}
              </dt>
              <dd>
                {{#isDocumented}}{{{ oneLineDoc }}} {{{ extendedDocLink }}}{{/isDocumented}}
              </dd>
            {{/publicLibraries}}
          {{/categoriesWithPublicLibraries}}
          </dl>
        </section>
      {{/localPackages}}
    {{/packageGraph}}

  </div>

{{>footer}}
