body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

pre {
  font-family: 'Inconsolata', monospace;
  color: black;
  border-radius: 0;
  font-size: 100%;
  width: 80ch;
  overflow-x: scroll;
  word-wrap: normal;
}

pre code {
  white-space: pre;
}

code {
  font-family: 'Inconsolata', monospace;
  /* overriding bootstrap */
  font-size: inherit;
  color: inherit;
  border-radius: 0;
  padding: 0;
  background-color: inherit;
}

.title .type, .classname, .classname a {
  color: #BBB;
}

@media (min-width:970px) and (max-width: 2500px) {
  .container {
    width:970px;
  }
}

#title {
  background-color: rgba(0,164,228, 0.1);
  margin-bottom: 20px;
}

h1.title {
  margin: 120px 0 60px 0;
  font-weight: 300;
}

dt {
  font-weight: normal;
}

dd {
  margin-bottom: 32px;
  color: hsl(0, 0%, 46%);
}

section.summary h2 {
  color: hsl(0, 0%, 46%);
  margin: 20px 0 20px 0;
}

section.desc h2 {
  font-size: 24px;
}

dl.dl-horizontal dt {
  width: 250px;
  font-style: normal;
}

dl.dl-horizontal dd {
  padding-left: 18px;
  margin-left: 0; /* override bootstrap */
}

.optional {
  font-style: italic;
}

p.firstline {
  font-weight: bold;
}

.dl-horizontal dt {
  text-align: left;
  font-style: italic;
}

footer {
  margin-top: 36px;
  background-color: #EEE;
  height: 60px;
  padding: 18px;
}

.markdown h1 {
  font-size: 24px;
}

.markdown h2 {
  font-size: 16px;
}

.has-it::before {
  content: '\2713';
}

ul.gt-separated {
  list-style: none;
  padding: 0;
}

ul.gt-separated li {
  display: inline;
}

ul.gt-separated li:after {
  content: " > ";
}

ul.gt-separated li:last-child:after {
  content: "";
}

.is-inherited {
  font-style: italic;
}

.multi-line-signature {
    font-size: 18px;
}

ul.breadcrumbs {
    position: absolute;
    padding: 0;
    margin: 8px 0 8px 0;
}

ul.comma-separated {
    list-style: none;
    padding: 0;
    display: inline;
}

ul.comma-separated li {
    display: inline;
}

ul.comma-separated li:after {
    content: ", ";
}

ul.comma-separated li:last-child:after {
  content: "";
}

ul.end-with-period li:last-child:after {
    content: ".";
}

section {
    margin-bottom: 24px;
}

.constructor-modifier {
  font-style: italic;
}

.parameter-name {
  color: hsl(0, 0%, 46%);
}