{{>head}}

    <section class="desc markdown">

        {{#markdown}}
          {{{ class.documentation }}}
        {{/markdown}}

    </section>

    {{#class.hasAnnotations}}
    <section id="annotations">
        <h4>Annotated by</h4>
        <ul class="comma-separated class-relationships">
            {{#class.annotations}}
            <li>{{{.}}}</li>
            {{/class.annotations}}
        </ul>
    </section>
    {{/class.hasAnnotations}}

    {{#class.hasSupertype}}
    <section id="extends">
        <h4>Extends</h4>
        <ul class="gt-separated class-relationships">
            {{#class.superChain}}
            <li>{{{linkedName}}}</li>
            {{/class.superChain}}
            <li>{{{linkedObjectType}}}</li>
        </ul>
    </section>
    {{/class.hasSupertype}}

    {{#class.hasInterfaces}}
    <section id="implements">
        <h4>Implements</h4>
        <ul class="comma-separated class-relationships">
            {{#class.interfaces}}
            <li>{{{linkedName}}}</li>
            {{/class.interfaces}}
        </ul>
    </section>
    {{/class.hasInterfaces}}

    {{#class.hasMixins}}
    <section id="mixes-in">
        <h4>Mixes-in</h4>
        <ul class="comma-separated class-relationships">
            {{#class.mixins}}
            <li>{{{linkedName}}}</li>
            {{/class.mixins}}
        </ul>
    </section>
    {{/class.hasMixins}}

    {{#class.hasImplementors}}
    <section id="implementors">
        <h4>Implementors</h4>
        <ul class="comma-separated class-relationships">
            {{#class.implementors}}
            <li>{{{linkedName}}}</li>
            {{/class.implementors}}
        </ul>
    </section>
    {{/class.hasImplementors}}

    {{#class.hasConstructors}}
    <section class="summary" id="constructors">
        <h2>Constructors</h2>

        <dl class="constructor-summary-list">
            {{#class.constructors}}
            <dt id="{{htmlId}}">
                {{{linkedName}}}({{{linkedParams}}})
            </dt>
            <dd>
                {{#isConst}}
                <div class="constructor-modifier">
                    const
                </div>
                {{/isConst}}
                {{#oneLiner}}{{ documentation }}{{/oneLiner}}
            </dd>
            {{/class.constructors}}
        </dl>

    </section>
    {{/class.hasConstructors}}

    {{#class.hasConstants}}
    <section class="summary" id="constants">
        <h2>Constants</h2>

        <dl class="properties">
            {{#class.constants}}
            <dt id="{{htmlId}}">
                <span class="name">{{ name }}</span>
                {{#constantValue}}
                =
                <span class="constant-value">{{ constantValue }}</span>
                {{/constantValue}}
            </dt>
            <dd>
                {{#oneLiner}}{{ documentation }}{{/oneLiner}}
            </dd>
            {{/class.constants}}
        </dl>
    </section>
    {{/class.hasConstants}}

    {{#class.hasStaticProperties}}
    <section class="summary" id="static-properties">
        <h2>Static Properties</h2>

        <dl class="properties">
            {{#class.staticProperties}}
            <dt id="{{htmlId}}">
                <span class="name"><a href="{{href}}">{{ name }}</a></span>
                <span class="returntype">{{{ linkedReturnType }}}</span>
            </dt>
            <dd>
                <div>
                    <span class="{{#hasGetter}}has-it{{/hasGetter}} getter">read</span>
                    <span class="{{#hasSetter}}has-it{{/hasSetter}} setter">write</span>
                </div>
                {{#oneLiner}}{{ documentation }}{{/oneLiner}}
            </dd>
            {{/class.staticProperties}}
        </dl>
    </section>
    {{/class.hasStaticProperties}}

    {{#class.hasStaticMethods}}
    <section id="static-methods-summary" class="summary">
        <h2>Static Methods</h2>
        <dl>
            {{#class.staticMethods}}
            <dt id="{{htmlId}}">
                <span class="name-and-params">
                    <span class="name"><a href="{{href}}">{{ name }}</a></span>({{{ linkedParamsNoNames }}})
                </span>
                &#8594;
                <span class="returntype">{{{ linkedReturnType }}}</span>
            </dt>
            <dd>
                {{#oneLiner}}{{ documentation }}{{/oneLiner}}
            </dd>
            {{/class.staticMethods}}
        </dl>
    </section>
    {{/class.hasStaticMethods}}

    {{#class.hasInstanceProperties}}
    <section class="summary" id="instance-properties">
        <h2>Instance Properties</h2>

        <dl class="properties">
            {{#class.instanceProperties}}
            <dt id="{{htmlId}}">
                <span class="name"><a href="{{href}}">{{ name }}</a></span>
                <span class="returntype">{{{ linkedReturnType }}}</span>
            </dt>
            <dd>
                <div>
                    <span class="{{#hasGetter}}has-it{{/hasGetter}} getter">read</span>
                    <span class="{{#hasSetter}}has-it{{/hasSetter}} setter">write</span>
                </div>
                {{#oneLiner}}{{ documentation }}{{/oneLiner}}
            </dd>
            {{/class.instanceProperties}}

            {{#class.inheritedProperties}}
            <dt id="{{htmlId}}" class="inherited">
                <span class="name">{{ name }}</span>
                <span class="returntype">{{{ linkedReturnType }}}</span>
            </dt>
            <dd>
                <div>
                    <span class="{{#hasGetter}}has-it{{/hasGetter}} getter">read</span>
                    <span class="{{#hasSetter}}has-it{{/hasSetter}} setter">write</span>
                </div>
                <div class="is-inherited">Inherited</div>
                {{#oneLiner}}{{ documentation }}{{/oneLiner}}
            </dd>
            {{/class.inheritedProperties}}
        </dl>
    </section>
    {{/class.hasInstanceProperties}}

    {{#class.hasMethods}}
    <section id="instance-methods-summary" class="summary">
        <h2>Instance Methods</h2>
        <dl id="{{htmlId}}">
            {{#class.instanceMethods}}
            <dt id="{{htmlId}}">
                <span class="name-and-params">
                    <span class="name"><a href="{{href}}">{{ name }}</a></span>({{{ linkedParamsNoNames }}})
                </span>
                &#8594;
                <span class="returntype">{{{ linkedReturnType }}}</span>
            </dt>
            <dd>
                {{#oneLiner}}{{ documentation }}{{/oneLiner}}
            </dd>
            {{/class.instanceMethods}}

            {{#class.inheritedMethods}}
            <dt id="{{htmlId}}" class="inherited-method inherited">
                <span class="name"><a href="{{href}}">{{ name }}</a></span>({{{ linkedParamsNoNames }}})
                &#8594;
                <span class="returntype">{{{ linkedReturnType }}}</span>
            </dt>
            <dd>
                <div class="is-inherited">Inherited</div>
                {{#oneLiner}}{{ documentation }}{{/oneLiner}}
            </dd>
            {{/class.inheritedMethods}}
        </dl>
    </section>
    {{/class.hasMethods}}

    {{#class.hasOperators}}
    <section id="operators-summary" class="summary">
        <h2>Operators</h2>
        <dl>
            {{#class.operators}}
            <dt id="{{htmlId}}">
                <span class="name-and-params">
                    <span class="name"><a href="{{href}}">{{ name }}</a></span>({{{ linkedParamsNoNames }}})
                </span>
                &#8594;
                <span class="returntype">{{{ linkedReturnType }}}</span>
            </dt>
            <dd>
                {{#oneLiner}}{{ documentation }}{{/oneLiner}}
            </dd>
            {{/class.operators}}
        </dl>
    </section>
    {{/class.hasOperators}}

{{>footer}}
