{{>head}}
    <title>{{class.name}} {{class.kind}} - {{ library.name }} library - Dart API</title>

    <!-- required because all the links are pseudo-absolute -->
    <base href="..">

    {{>styles_and_scripts}}

    <meta name="description" content="API docs for the {{class.name}} {{class.kind}} from the {{ library.name }} library, for the Dart programming language.">

</head>

<body>

<header class="container-fluid" id="title">
    <div class="container">
        <ul class="breadcrumbs gt-separated">
            <li><a href="{{package.href}}">{{package.name}} package</a></li>
            <li><a href="{{library.href}}">{{library.name}} library</a></li>
        </ul>
        <h1 class="title text-display-2">
            {{ class.nameWithGenerics }}
            <span class="type">{{#class.isAbstract}}abstract{{/class.isAbstract}} {{class.kind}}</span>
        </h1>
    </div>
</header>

<div class="container">

    <section class="desc markdown">

        {{#markdown}}
          {{{ class.documentation }}}
        {{/markdown}}

    </section>

    {{#class.hasAnnotations}}
    <section id="annotations">
        <h4>Annotated by</h4>
        <ul class="comma-separated class-relationships">
            {{#class.annotations}}
            <li>{{{.}}}</li>
            {{/class.annotations}}
        </ul>
    </section>
    {{/class.hasAnnotations}}

    {{#class.hasSupertype}}
    <section id="extends">
        <h4>Extends</h4>
        <ul class="gt-separated class-relationships">
            {{#class.superChain}}
            <li>{{{linkedName}}}</li>
            {{/class.superChain}}
            <li>Object</li>
        </ul>
    </section>
    {{/class.hasSupertype}}

    {{#class.hasInterfaces}}
    <section id="implements">
        <h4>Implements</h4>
        <ul class="comma-separated class-relationships">
            {{#class.interfaces}}
            <li>{{{linkedName}}}</li>
            {{/class.interfaces}}
        </ul>
    </section>
    {{/class.hasInterfaces}}

    {{#class.hasMixins}}
    <section id="mixes-in">
        <h4>Mixes-in</h4>
        <ul class="comma-separated class-relationships">
            {{#class.mixins}}
            <li>{{{linkedName}}}</li>
            {{/class.mixins}}
        </ul>
    </section>
    {{/class.hasMixins}}

    {{#class.hasImplementors}}
    <section id="implementors">
        <h4>Implementors</h4>
        <ul class="comma-separated class-relationships">
            {{#class.implementors}}
            <li>{{{linkedName}}}</li>
            {{/class.implementors}}
        </ul>
    </section>
    {{/class.hasImplementors}}

    {{#class.hasConstructors}}
    <section class="summary" id="constructors">
        <h2 class="text-display-1">Constructors</h2>

        <dl class="constructor-summary-list">
            {{#class.constructors}}
            <dt id="{{htmlId}}">
                <code>{{{linkedName}}}({{{linkedParams}}})</code>
            </dt>
            <dd>
                {{#isConst}}
                <div class="constructor-modifier">
                    const
                </div>
                {{/isConst}}
                {{#oneLiner}}{{ documentation }}{{/oneLiner}}
            </dd>
            {{/class.constructors}}
        </dl>

    </section>
    {{/class.hasConstructors}}

    {{#class.hasConstants}}
    <section class="summary" id="properties">
        <h2 class="text-display-1">Constants</h2>

        <dl class="withreturntypes">
            {{#class.constants}}
            <dt id="{{htmlId}}">
                <code>
                    <span class="returntype">{{{ linkedReturnType }}}</span>
                    <span class="name">{{ name }}</span>
                    {{#constantValue}}
                    =
                    <span class="constant-value">{{ constantValue }}</span>
                    {{/constantValue}}
                </code>
            </dt>
            <dd>
                {{#oneLiner}}{{ documentation }}{{/oneLiner}}
            </dd>
            {{/class.constants}}
        </dl>
    </section>
    {{/class.hasConstants}}

    {{#class.hasInstanceProperties}}
    <section class="summary" id="instance-properties">
        <h2 class="text-display-1">Instance Properties</h2>

        <dl class="withreturntypes">
            {{#class.instanceProperties}}
            <dt id="{{htmlId}}">
                <code>
                    <span class="returntype">{{{ linkedReturnType }}}</span>
                    <span class="name">{{ name }}</span>
                </code>
            </dt>
            <dd>
                <div>
                    <span class="{{#hasGetter}}has-it{{/hasGetter}} getter">read</span>
                    <span class="{{#hasSetter}}has-it{{/hasSetter}} setter">write</span>
                </div>
                {{#oneLiner}}{{ documentation }}{{/oneLiner}}
            </dd>
            {{/class.instanceProperties}}

            {{#class.inheritedProperties}}
            <dt id="{{htmlId}}" class="inherited">
                <code>
                    <span class="returntype">{{{ linkedReturnType }}}</span>
                    <span class="name">{{ name }}</span>
                </code>
            </dt>
            <dd>
                <div>
                    <span class="{{#hasGetter}}has-it{{/hasGetter}} getter">read</span>
                    <span class="{{#hasSetter}}has-it{{/hasSetter}} setter">write</span>
                </div>
                <div class="is-inherited">Inherited</div>
                {{#oneLiner}}{{ documentation }}{{/oneLiner}}
            </dd>
            {{/class.inheritedProperties}}
        </dl>
    </section>
    {{/class.hasInstanceProperties}}

    {{#class.hasStaticProperties}}
    <section class="summary" id="static-properties">
        <h2 class="text-display-1">Static Properties</h2>

        <dl class="withreturntypes">
            {{#class.staticProperties}}
            <dt id="{{htmlId}}">
                <code>
                    <span class="returntype">{{{ linkedReturnType }}}</span>
                    <span class="name">{{ name }}</span>
                </code>
            </dt>
            <dd>
                <div>
                    <span class="{{#hasGetter}}has-it{{/hasGetter}} getter">read</span>
                    <span class="{{#hasSetter}}has-it{{/hasSetter}} setter">write</span>
                </div>
                {{#oneLiner}}{{ documentation }}{{/oneLiner}}
            </dd>
            {{/class.staticProperties}}
        </dl>
    </section>
    {{/class.hasStaticProperties}}

    {{#class.hasStaticMethods}}
    <section id="static-methods-summary" class="summary">
        <h2 class="text-display-1">Static Methods</h2>
        <dl class="withreturntypes">
            {{#class.staticMethods}}
            <dt>
                <code>
                    <span class="returntype">{{{ linkedReturnType }}}</span>
                    <span class="name-and-params">
                        <span class="name"><a href="{{href}}">{{ name }}</a></span>({{{ linkedParams }})
                    </span>
                </code>
            </dt>
            <dd>
                {{#oneLiner}}{{ documentation }}{{/oneLiner}}
            </dd>
            {{/class.staticMethods}}
        </dl>
    </section>
    {{/class.hasStaticMethods}}

    {{#class.hasInstanceMethods}}
    <section id="instance-methods-summary" class="summary">
        <h2 class="text-display-1">Instance Methods</h2>
        <dl id="{{htmlId}}" class="withreturntypes">
            {{#class.instanceMethods}}
            <dt>
                <code>
                    <span class="returntype">{{{ linkedReturnType }}}</span>
                    <span class="name-and-params">
                        <span class="name"><a href="{{href}}">{{ name }}</a></span>({{{ linkedParams }})
                    </span>
                </code>
            </dt>
            <dd>
                {{#oneLiner}}{{ documentation }}{{/oneLiner}}
            </dd>
            {{/class.instanceMethods}}

            {{#class.inheritedMethods}}
            <dt id="{{htmlId}}" class="inherited-method inherited">
                <code>
                    <span class="returntype">{{{ linkedReturnType }}}</span>
                    <span class="name"><a href="{{href}}">{{ name }}</a></span>({{{ linkedParams }})
                </code>
            </dt>
            <dd>
                <div class="is-inherited">Inherited</div>
                {{#oneLiner}}{{ documentation }}{{/oneLiner}}
            </dd>
            {{/class.inheritedMethods}}
        </dl>
    </section>
    {{/class.hasInstanceMethods}}

    {{#class.hasOperators}}
    <section id="operators-summary" class="summary">
        <h2 class="text-display-1">Operators</h2>
        <dl class="withreturntypes">
            {{#class.operators}}
            <dt>
                <code>
                    <span class="returntype">{{{ linkedReturnType }}}</span>
                    <span class="name-and-params">
                        <span class="name"><a href="{{href}}">{{ name }}</a></span>({{{ linkedParams }})
                    </span>
                </code>
            </dt>
            <dd>
                {{#oneLiner}}{{ documentation }}{{/oneLiner}}
            </dd>
            {{/class.operators}}
        </dl>
    </section>
    {{/class.hasOperators}}

</div>

{{>footer}}
