{{>head}}

    <section class="multi-line-signature">
        <code>
            {{#constructor}}
            {{#isConst}}const{{/isConst}}
            <span class="name">{{{ linkedOwner }}}</span>({{#hasParameters}}
            <br>
            <div class="parameters">
                {{{linkedParamsLines}}}
            </div>
            {{/hasParameters}})
            {{/constructor}}
        </code>
    </section>

    <section class="desc markdown">

        {{#markdown}}
        {{{ constructor.documentation }}}
        {{/markdown}}

    </section>

{{>footer}}
