{{>head}}

    <section class="multi-line-signature">
        {{#function}}
            <span class="returntype">{{{ linkedReturnType }}}</span>
            <span class="name">{{{ linkedOwner }}}</span>(
            {{#hasParameters}}
            <br>
            <div class="parameters">
              {{{linkedParamsLines}}}
            </div>
            {{/hasParameters}}
            )
        {{/function}}
    </section>

    <section class="desc markdown">

        {{#markdown}}
        {{{ function.documentation }}}
        {{/markdown}}

    </section>

{{>footer}}
