{{>head}}

    <section class="desc markdown" id="description">

        {{#markdown}}
         {{{ library.documentation }}}
        {{/markdown}}

    </section>


    {{#library.hasClasses}}
    <section class="summary" id="classes">
        <h2>Classes</h2>

        <dl class="dl-horizontal">
            {{#library.classes}}
            <dt id="{{htmlId}}">
                {{{linkedName}}}
            </dt>
            <dd>
                {{#oneLiner}}{{ documentation }}{{/oneLiner}}
            </dd>
            {{/library.classes}}
        </dl>

    </section>
    {{/library.hasClasses}}

    {{#library.hasEnums}}
    <section class="summary" id="enums">
        <h2>Enums</h2>

        <dl class="dl-horizontal">
            {{#library.enums}}
            <dt id="{{htmlId}}">
                {{{linkedName}}}
            </dt>
            <dd>
                {{#oneLiner}}{{ documentation }}{{/oneLiner}}
            </dd>
            {{/library.enums}}
        </dl>
    </section>
    {{/library.hasEnums}}

    {{#library.hasProperties}}
    <section class="summary" id="properties">
        <h2>Properties</h2>

        <dl class="withreturntypes">
            {{#library.properties}}
            <dt id="{{htmlId}}">
                <code>
                    <span class="returntype">{{{ linkedReturnType }}}</span>
                    <span class="name"><a href="{{href}}">{{ name }}</a></span>
                </code>
            </dt>
            <dd>
                <div>
                    <span class="{{#hasGetter}}has-it{{/hasGetter}} getter">read</span>
                    <span class="{{#hasSetter}}has-it{{/hasSetter}} setter">write</span>
                </div>
                {{#oneLiner}}{{ documentation }}{{/oneLiner}}
            </dd>
            {{/library.properties}}
        </dl>
    </section>
    {{/library.hasProperties}}

    {{#library.hasConstants}}
    <section class="summary" id="constants">
        <h2>Constants</h2>

        <dl class="withreturntypes">
            {{#library.constants}}
            <dt id="{{htmlId}}">
                <code>
                    <span class="returntype">{{{ linkedReturnType }}}</span>
                    <span class="name">{{{ linkedName }}}</span>
                    =
                    <span class="constant-value">{{ constantValue }}</span>
                </code>
            </dt>
            <dd>
                {{#oneLiner}}{{ documentation }}{{/oneLiner}}
            </dd>
            {{/library.constants}}
        </dl>
    </section>
    {{/library.hasConstants}}

    {{#library.hasFunctions}}
    <section class="summary" id="functions">
        <h2>Functions</h2>

        <dl class="withreturntypes">
            {{#library.functions}}
            <dt id="{{htmlId}}">
                <code>
                    <span class="returntype">{{{ linkedReturnType }}}</span>
                    <span class="name-and-params">
                        <a href="{{href}}"><span class="name">{{ name }}</span></a>({{{ linkedParams }}})
                    </span>
                </code>
            </dt>
            <dd>
                {{#oneLiner}}{{ documentation }}{{/oneLiner}}
            </dd>
            {{/library.functions}}
        </dl>
    </section>
    {{/library.hasFunctions}}

    {{#library.hasTypedefs}}
    <section class="summary" id="typedefs">
        <h2>Typedefs</h2>

        <dl class="withreturntypes">
            {{#library.typedefs}}
            <dt id="htmlId">
                <code>
                    <span class="returntype">{{{ linkedReturnType }}}</span>
                    <span class="name-and-params">
                        <span class="name">{{ name }}</span>({{{ linkedParams }}})
                    </span>
                </code>
            </dt>
            <dd>
                {{#oneLiner}}{{ documentation }}{{/oneLiner}}
            </dd>
            {{/library.typedefs}}
        </dl>
    </section>
    {{/library.hasTypedefs}}

    {{#library.hasExceptions}}
    <section class="summary" id="exceptions">
        <h2>Exceptions/Errors</h2>

        <dl class="dl-horizontal">
            {{#library.exceptions}}
            <dt id="{{htmlId}}">
                {{{linkedName}}}
            </dt>
            <dd>
                {{#oneLiner}}{{ documentation }}{{/oneLiner}}
            </dd>
            {{/library.exceptions}}
        </dl>
    </section>
    {{/library.hasExceptions}}

</div>

{{>footer}}
