{{>head}}

    <section class="multi-line-signature">
        <code>
            {{#method}}
            <span class="returntype">{{{ linkedReturnType }}}</span>
            <span class="name">{{{ linkedOwner }}}</span>({{#hasParameters}}
            <br>
            <div class="parameters">
                {{{linkedParamsLines}}}
            </div>
            {{/hasParameters}})
            {{/method}}
        </code>
    </section>

    <section class="desc markdown">

        {{#markdown}}
        {{{ method.documentation }}}
        {{/markdown}}

    </section>

{{>footer}}
