@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700|Inconsolata:400,700);

body {
  font-family: 'Roboto', sans-serif;
}

pre {
  font-family: 'Inconsolata', monospace;
}

code {
  background-color: transparent;
  color: black;
  padding: 0;
  border-radius: 0;
  font-size: 100%;
}

pre.prettyprint {
  /* from bootstrap */
  padding: 9.5px;
  border: 1px solid #CCC;
}

.title .type, .classname, .classname a {
  color: #BBB;
}

@media (min-width:970px) and (max-width: 2500px) {
  .container {
    width:970px;
  }
}

#title {
  background-color: rgba(0,164,228, 0.1);
  margin-bottom: 20px;
}

h1.title {
  margin: 120px 0 60px 0;
}

dt {
  font-weight: normal;
  margin-bottom: 3px;
}

.impls-extends ul {
  margin-bottom: 0;
}

.impls-extends ul li {
  display: inline;
}

section.summary {
  border-top: 1px solid hsl(0, 0%, 78%);
}

section.summary h2 {
  color: hsl(0, 0%, 46%);
  margin: 20px 0 20px 0;
}

section.desc h2 {
  font-size: 18px;
}

.summary dl, .summary table {
  margin: 16px;
}

.summary dd {
  margin-bottom: 9px;
}

dl.withreturntypes .returntype {
  float: left;
  width: 250px;
  color: gray;
}

dl.withreturntypes span.name-and-params {
    display: block;
    margin-left: 250px;
}

dl.withreturntypes dd {
  margin-left: 250px;
  color: gray;
}

@media (max-width: 768px) {
  dl.withreturntypes dd {
    margin-left: 0;
    padding-left: 18px;
  }

  dl.withreturntypes .returntype {
    display: block;
    float: none;
    width: auto;
  }

  dl.withreturntypes span.name-and-params {
      display: inline;
      margin:0;
  }
}

dl.dl-horizontal dt {
  width: 250px;
  font-style: normal;
}

dl.dl-horizontal dd {
  padding-left: 18px;
  margin-left: 0; /* override bootstrap */
}

.optional {
  font-style: italic;
}

.parameters {
  margin-left:36px;
}

.param-name {
  font-style: italic;
}

p.firstline {
  font-weight: bold;
}

.method-detail {
  border-bottom: 1px solid gray;
  margin-bottom: 9px;
}

.dl-horizontal dt {
  text-align: left;
  font-style: italic;
}

footer {
  margin-top: 36px;
  background-color: #EEE;
  height: 60px;
  padding: 18px;
}

.markdown h1 {
  font-size: 18px;
}

.markdown h2 {
  font-size: 16px;
}

.has-it::before {
  content: '\2713';
}

ul.gt-separated {
  list-style: none;
  padding: 0;
}

ul.gt-separated li {
  display: inline;
}

ul.gt-separated li:after {
  content: " > ";
}

ul.gt-separated li:last-child:after {
  content: "";
}

.is-inherited {
  font-style: italic;
}

.multi-line-signature {
    font-size: 18px;
}

ul.breadcrumbs {
    position: absolute;
    padding: 0;
    margin: 8px 0 8px 0;
}

ul.comma-separated {
    list-style: none;
    padding: 0;
    display: inline;
}

ul.comma-separated li {
    display: inline;
}

ul.comma-separated li:after {
    content: ", ";
}

ul.comma-separated li:last-child:after {
  content: "";
}

ul.end-with-period li:last-child:after {
    content: ".";
}

section {
    margin-bottom: 18px;
}

#declared-in {
    font-style: italic;
}

dl.constructor-summary-list dd {
  margin-left: 18px;
  color: gray;
}

.constructor-modifier {
  font-style: italic;
}
