{{>head}}

  <section class="multi-line-signature">
    {{#property}}
      <span class="returntype">{{{ linkedReturnType }}}</span>
      <span class="name">{{ name }}</span>
    {{/property}}
  </section>

  <div>
    <span class="{{#property.hasGetter}}has-it{{/property.hasGetter}} getter">read</span>
    <span class="{{#property.hasSetter}}has-it{{/property.hasSetter}} setter">write</span>
  </div>

  <section class="desc markdown">

      {{#markdown}}
          {{{ property.documentation }}}
      {{/markdown}}

  </section>

{{>footer}}
