name: test_package
homepage: http://github.com/dart-lang
description: Best package ever.
version: 0.0.1
dependencies:
  meta: ^1.0.0
  tuple: 1.0.1
  test_package_imported:
    path: "../test_package_imported"
