{{>head}}
    <title>{{class.name}} class - {{ library.name }} library - Dart API</title>

    <!-- required because all the links are pseudo-absolute -->
    <base href="..">

    {{>styles_and_scripts}}

    <meta name="description" content="API docs for the {{class.name}} class from the {{ library.name }} library, for the Dart programming language.">

</head>

<body>

<header class="container-fluid" id="title">
    <div class="container">
        <h1 class="title">
            {{ class.name }} <span class="type">class</span>
        </h1>
    </div>
</header>

<div class="container">

    <section class="desc markdown">

        {{#markdown}}
          {{{ class.description }}}
        {{/markdown}}

    </section>

    {{#class.hasInterfaces}}
    <section id="implements">
        <h4>Implements</h4>
        <ul class="interfaces-implemented">
            {{#class.interfaces}}
            <li>{{{linkedName}}}</li>
            {{/class.interfaces}}
        </ul>
    </section>
    {{/class.hasInterfaces}}

    <section class="summary" id="constructors">
        <h2>Constructors</h2>

        <dl class="dl-horizontal">
            {{#class.constructors}}
            <dt id="{{htmlId}}">
                {{{linkedName}}}
            </dt>
            <dd>
                {{#oneLiner}}{{ documentation }}{{/oneLiner}}
            </dd>
            {{/class.constructors}}
        </dl>

    </section>

</div>

{{>footer}}