{{>head}}
    <title>{{ package.name }} - Dart API docs</title>

    <link rel="stylesheet" href="prettify.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <meta name="description" content="{{ package.name }} API docs, for the Dart programming language.">
</head>

<body>

  <header class="container-fluid" id="title">
    <div class="container">
      <h1 class="title">
        {{ package.name }} <span class="type">dartdocs</span>
      </h1>
    </div>
  </header>

  <div class="container">

      <section class="desc markdown">

        {{#markdown}}
          {{{ package.description }}}
        {{/markdown}}

      </section>

      <section class="summary" id="libraries">
        <h2>Libraries</h2>
        <dl class="dl-horizontal">
          {{#package.libraries}}
            <dt>
              <a href="{{name}}/index.html">{{ name }}</a>
            </dt>
            <dd>
              {{ docOneLiner }}
            </dd>
          {{/package.libraries}}
        </dl>
      </section>

  </div>

{{>footer}}